.product-card {
  background: var(--color-secondary-3);
  color: var(--color-primary-1);
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.product-card__picture {
  display: block;
  text-decoration: none;
}
.product-card__picture img {
  aspect-ratio: 1.16 / 1;
  object-fit: cover;
}
.product-card__info {
  padding: 1.25rem;
}
.product-card__header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.product-card__name {
  font: var(--text-card-title);
  color: var(--color-black);
}
.product-card__name a {
  color: inherit;
  text-decoration: none;
}
.product-card__price {
  font: var(--text-card-title);
  color: var(--color-secondary-1);
}
.product-card__description {
  font: var(--text-paragraph);
  color: var(--color-primary-1);
  margin-bottom: 1.125rem;
  min-height: 6em;
}
.product-card__delivery-link {
  font: var(--text-nav-link);
  color: var(--color-secondary-4);
  text-decoration: none;
}
.product-card__delivery-link .icon {
  transition: transform 0.2s ease-in-out;
}
.product-card__delivery-link:hover .icon,
.product-card__delivery-link:focus .icon {
  transform: translateX(1rem);
}