.specials {
  background: var(--color-white);
  padding: 5.375rem 0 4rem;

}
.specials__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
  margin-bottom: 2.5rem;
}
.specials__title {
  font: var(--text-display-title);
  color: var(--color-black)
}
.specials__header .btn {
  min-width: 14.37em;
}

@media (max-width: 880px) {
  .specials {
    padding: 2rem 0;
  }
  .specials__title {
    font: var(--text-sub-title);
  }
  .specials__header {
    flex-direction: column;
    row-gap: 1rem;
  }
}
