.testimonials {
  background: var(--color-secondary-2);
  padding: 5.625rem 0 11.25rem;
}
.testimonials__header {
  text-align: center;
  margin-bottom: 4.75rem;
}
.testimonials__title {
  font: var(--text-display-title);
  color: var(--color-primary-1);
}